{% extends 'base.html.twig' %}

{% block title %}Quantum PVP | Règlement{% endblock %}

{% block body %}
    <div class="w-full flex flex-col justify-center items-center mt-10 px-4 pb-16">
        <h1 class="text-white text-3xl mb-8 roboto text-center xs:w-full">Règlement du Serveur PvP Faction Moddé - Quantum</h1>
        <h2 class="text-white text-xl mb-8 roboto text-center md:w-1/2 xs:w-full">
            Bienvenue sur le serveur <span class="text-orange-400">Quantum</span> ! Nous vous demandons de lire attentivement l’intégralité du règlement ci-dessous. En vous connectant à nos serveurs, vous acceptez les règles énoncées et comprenez que des sanctions seront appliquées en cas de non-respect. Le règlement peut être modifié à tout moment. Il est donc de votre responsabilité de vous tenir informé des éventuelles mises à jour.
        </h2>
        <div class="w-full md:w-2/4">
            <details class="mb-4 bg-gray-800 p-4 rounded-lg border border-orange-500">
                <summary class="cursor-pointer text-lg text-white font-bold">1. Généralités</summary>
                <h2 class="text-2xl font-bold text-orange-400">1.1 Accès au Serveur</h2>
                <p class="mt-2 text-white">
                    <span class="text-orange-300 font-semibold underline">Compte Premium</span> : Le serveur est accessible uniquement avec un compte Minecraft Premium. Les comptes non premium peuvent être suspendus à tout moment si nécessaire.
                </p>
                <h2 class="text-2xl font-bold text-orange-400">1.2 Comportement Général</h2>
                <p class="mt-2 text-white">
                    <span class="text-orange-300 font-semibold underline">Respect</span> : Adoptez un comportement respectueux sur tous les serveurs et en toutes circonstances. Les abus, les insultes, et le harcèlement ne seront pas tolérés.
                </p>
                <h2 class="text-2xl font-bold text-orange-400">1.3 Orthographe et Communication</h2>
                <p class="mt-2 text-white">
                    <span class="text-orange-300 font-semibold underline">Orthographe</span> : Faites attention à votre orthographe pour garantir des échanges clairs avec les autres joueurs. La dyslexie ne sera pas sanctionnée.
                </p>
                <h2 class="text-2xl font-bold text-orange-400">1.4 Responsabilité des Comptes</h2>
                <p class="mt-2 text-white">
                    <span class="text-orange-300 font-semibold underline">Responsabilité</span> : Vous êtes responsable de votre compte, même si celui-ci est prêté ou volé. Le staff ne gère pas les problèmes liés aux comptes volés ou prêtés.
                </p>
                <h2 class="text-2xl font-bold text-orange-400">1.5 Comportement des Membres du Staff</h2>
                <p class="mt-2 text-white">
                    <span class="text-orange-300 font-semibold underline">Comportement du Staff</span> : Si un membre du staff se comporte de manière inappropriée (injurieux, vulgaire, abusif), contactez les responsables du pôle concerné via l'équipe de modération.
                </p>
                <h2 class="text-2xl font-bold text-orange-400">1.6 Réglementation Française</h2>
                <p class="mt-2 text-white">
                    <span class="text-orange-300 font-semibold underline">Législation</span> : Le serveur est soumis aux lois françaises en vigueur.
                </p>
                <h2 class="text-2xl font-bold text-orange-400">Clauses Générales</h2>
                <p class="mt-2 text-white">
                    <span class="text-orange-300 font-semibold underline">Sanctions Générales</span> : Cette liste n’est pas exhaustive. Les sanctions peuvent être appliquées pour des comportements non couverts spécifiquement par le règlement si jugés inappropriés.
                </p>
            </details>

            <details class="mb-4 bg-gray-800 p-4 rounded-lg border border-orange-500">
                <summary class="cursor-pointer text-lg text-white font-bold">2. Chat</summary>
                <h2 class="text-2xl font-bold text-orange-400">2.1 Prohibitions</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Insultes</span> : Toute forme d'insulte envers un joueur, membre du staff ou le serveur est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Flood</span> : Saturer le chat avec des caractères incompréhensibles ou des messages excessifs est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Spam</span> : Envoyer le même message plusieurs fois en moins de 2 minutes est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Provocation</span> : Tout comportement visant à provoquer des conflits ou à rabaisser les autres est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Messages de Lag</span> : Les messages tels que “lag serveur” sont interdits.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Majuscules</span> : L’utilisation excessive de majuscules est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Publicité</span> : La publicité, sauf pour une colonie sans lien, est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Demandes de Dons</span> : Les demandes de dons, y compris les incitations au /pay, sont interdites.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Discrimination</span> : Le racisme, le sexisme, l’homophobie, la transphobie et toute autre forme de discrimination sont interdits.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Accusations Sans Preuve</span> : Accuser quelqu’un sans preuve est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Usurpation d’Identité</span> : Se faire passer pour quelqu’un d’autre dans le chat est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Menaces de Hacking</span> : Les menaces de DDOS/DOX ou toute technique de hacking sont interdites.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Incitations au Changement de Serveur</span> : Les messages incitant à changer de serveur sont interdits.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Chantage</span> : Les tentatives de chantage sont interdites.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Perturbation du Serveur</span> : Toute action visant à ralentir ou faire crasher le serveur est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Promotion de Cheat</span> : La promotion de cheats est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Informations personnelles</span> : Diffuser ou demander des informations personnelles, même fausses, est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Abus de Haut-Parleur</span> : L’utilisation abusive de la fonction haut-parleur est interdite.</li>
                </ul>
            </details>

            <details class="mb-4 bg-gray-800 p-4 rounded-lg border border-orange-500">
                <summary class="cursor-pointer text-lg text-white font-bold">3. PvP/Faction</summary>
                <h2 class="text-2xl font-bold text-orange-400">3.1 Noms de Colonies</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Noms de Colonies</span> : Les noms de colonies doivent être respectueux et ne doivent pas contenir de propos offensants, discriminatoires, ou de noms de marques/maladies.</li>
                </ul>
                <h2 class="text-2xl font-bold text-orange-400">3.2 TP-Kill</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">TP-Kill</span> : Téléporter un joueur dans un piège pour le tuer ou le combattre sans son autorisation après une téléportation est interdit. La première attaque après une téléportation est considérée comme un TP-Kill si au moins 2 coups sont portés ou si le joueur est tué.</li>
                </ul>
                <h2 class="text-2xl font-bold text-orange-400">3.3 Back-Safezone et Déconnexion en Combat</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Back-Safezone</span> : Revenir en zone sans PvP ou se déconnecter en combat dans les 30 secondes après les derniers dégâts est interdit. Une preuve vidéo est nécessaire pour toute plainte concernant une déconnexion en combat.</li>
                </ul>
                <h2 class="text-2xl font-bold text-orange-400">3.4 Constructions et Éléments</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">QR Codes</span> : Les constructions à l’image de QR codes redirigeant sur des liens sont interdites.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Fermes et Machines Anti-AFK</span> : Les fermes à AFK et les machines anti-AFK sont interdites. En cas de non-réponse à un membre du staff, votre farm et vos ressources seront supprimées.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Poussée en Warzone</span> : Pousser un joueur en Warzone par tout moyen est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Items au Spawn</span> : L’utilisation d'items pouvant nuire à l’expérience de jeu au spawn (potions de nausée, etc.) est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Bugs et Exploits</span> : L’utilisation de bugs pour influencer l’expérience de jeu est interdite. Cela inclut la duplication, les glitches, etc.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Enderchest et Contenants</span> : L’utilisation de l'enderchest comme espace de stockage pour des contenants tels que drawer, backpack est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Stream Hack</span> : Tout comportement visant à nuire à un joueur qui est en stream est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Échanges In-Game vs IRL</span> : Les échanges de biens/services/argents In-Game contre de l'argent IRL et vice versa sont interdits.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Usurpation de nom de Colonie</span> : Usurper ou voler un nom de colonie est interdit sans preuve.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Griefs de Spawn</span> : Les griefs de spawn, consistant à poser ou modifier un bloc du spawn, sont interdits.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Bases Low-FPS</span> : Les bases qui provoquent des baisses de FPS importantes seront détruites après avertissement.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Coffres Impillables</span> : Créer des coffres impillables est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Arnaques Boutique</span> : Toutes les arnaques liées à la Boutique sont interdites.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Monde Minage</span> : Utiliser la dimension mineur pour stocker du stuff ou placer des farms est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Potions de dégâts</span> : Utiliser des potions de dégâts est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Effets de recul</span> : L'utilisation de systèmes permettant de ne pas subir d'effet de recul sur les events automatisés est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Bedrock</span> : Toute base creusée dans la bedrock doit avoir toutes les couches supérieures de bedrock également creusées.</li>
                </ul>
            </details>

            <details class="mb-4 bg-gray-800 p-4 rounded-lg border border-orange-500">
                <summary class="cursor-pointer text-lg text-white font-bold">4. Extérieur au Jeu</summary>
                <h2 class="text-2xl font-bold text-orange-400">4.1 Utilisation d'ALTS</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">ALTS</span> : L'utilisation de comptes trouvés sur Internet et ne vous appartenant pas est interdite.</li>
                </ul>

                <h2 class="text-2xl font-bold text-orange-400">4.2 Logiciels et Modifications</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Logiciels Tiers</span> : L’utilisation de logiciels tiers non fournis par Quantum (cheat, macro, etc.) est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Mods Extérieurs</span> : L’utilisation de mods non autorisés par le launcher est à vos risques et périls. Quantum n'est pas responsable des problèmes éventuels liés à ces mods. Si un mod donne des avantages injustes, Quantum se réserve le droit de demander son retrait et de bloquer ce mod sur notre serveur.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">VPN et Proxys</span> : Les VPN, proxys, socks5, etc. sont interdits.</li>
                </ul>

                <h2 class="text-2xl font-bold text-orange-400">4.3 Skins et Pseudonymes</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Skins et Capes</span> : Les skins et capes inappropriés sont interdits.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Pseudonymes</span> : Les pseudonymes à connotation déplacée ou provocante sont interdits.</li>
                </ul>

                <h2 class="text-2xl font-bold text-orange-400">4.4 Biens et Duplication</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Biens Dupliqués</span> : La possession de biens dupliqués ou de biens normalement inaccessibles est interdite.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">AFK Kick</span> : Maintenir une touche enfoncée avec un objet ou logiciel pour éviter d’être kick pour AFK est interdit.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Modification des Fichiers</span> : La modification ou l'exploitation des fichiers sources de Quantum est interdite.</li>
                </ul>
            </details>

            <details class="mb-4 bg-gray-800 p-4 rounded-lg border border-orange-500">
                <summary class="cursor-pointer text-lg text-white font-bold">5. Demande de Débannissement</summary>
                <h2 class="text-2xl font-bold text-orange-400">5.1 Procédures</h2>
                <ul>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Débannissement</span> : Toute demande de débanissement doit être formulée sur le Discord officiel et ne sera acceptée que si elle est argumentée de manière claire et détaillée.</li>
                    <li class="mt-2 text-white"><span class="text-orange-300 font-semibold underline">Pas de Demande In-Game</span> : Les demandes de débanissement ne seront pas prises en compte via le chat ou d'autres canaux in-game.</li>
                </ul>
            </details>
            <h1 class="text-orange-400 font-bold text-3xl text-center roboto mt-16">Merci de respecter ces règles pour garantir une expérience de jeu agréable pour tous. En cas de doute, n'hésitez pas à consulter un membre du staff. Bon jeu sur Quantum !</h1>
        </div>
    </div>
    <script src="{{ asset('js/reglement.js') }}"></script>
{% endblock %}
