{% extends 'base.html.twig' %}

{% block title %}Quantum PVP | Jouer{% endblock %}

{% block body %}
    <div class="relative flex flex-col items-center mx-auto roboto">
        <h1 class="text-3xl mt-5 text-white">Jouer à Quantum PVP</h1>
        <div class="w-auto mt-5">
            <button class="bg-amber-500 hover:bg-amber-600 hover:text-white rounded-lg p-2 hover:scale-105 roboto transition-all duration-300" onclick="window.location.href='https://www.quantum-mc.fr/cdn/QuantumLauncher.exe'">Télécharger le launcher de Quantum</button>
        </div>
    </div>
{% endblock %}