{% extends 'base.html.twig' %}

{% block title %}Quantum PVP | Administration{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center items-center w-full mt-10">
        <button onclick="window.location.href='{{ path('article_new') }}'" class="bg-orange-500 rounded-md p-1.5 roboto text-blue-100">Créer un article</button>
    </div>
{% endblock %}