@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

* {
    //outline: 1px solid red;
}

.roboto {
    font-family: "Roboto Thin", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    background-color: #303030;
}

.group:hover span {
    width: 100%;
}

//.animated-image {
//    animation: upanddown 6s linear infinite;
//    animation-duration: 6s;
//    animation-timing-function: linear;
//    animation-delay: 0s;
//    animation-iteration-count: infinite;
//    animation-direction: normal;
//    animation-fill-mode: none;
//    animation-play-state: running;
//    animation-name: upanddown;
//    animation-timeline: auto;
//    animation-range-start: normal;
//    animation-range-end: normal;
//    width: 20%;
//}

details > summary {
    list-style-type: '▶️ ';
}

details[open] > summary {
    list-style-type: '🔽 ';
}

details {
    border: 1px solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

//@keyframes upanddown {
//    0% {
//        transform: translatey(0)
//    }
//
//    50% {
//        transform: translatey(-5%)
//    }
//
//    to {
//        transform: translatey(0)
//    }
//}