{% extends 'base.html.twig' %}

{% block title %}Quantum PVP | Wiki{% endblock %}

{% block body %}
    <div class="flex mt-[100px] select-none">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar fixed top-[5.5rem] bottom-0 lg:left-0 p-2 w-[280px] overflow-y-auto text-center bg-gray-700 transform -translate-x-full lg:translate-x-0 transition-transform duration-300 ease-in-out">
            <div class="text-gray-100 text-xl">
                <div class="p-2.5 mt-1 flex items-center">
                    <h1 class="font-bold text-gray-200 text-[15px] ml-3">Wiki</h1>
                </div>
            </div>
            <div class="my-4 bg-gray-600 h-[1.5px]"></div>

            {# First Submenu #}
            <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-400 text-white" onclick="dropdown('submenu1', 'arrow1')">
                <div class="flex justify-between w-full items-center">
                    <span class="text-[15px] ml-4 text-gray-200 font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline mb-1" width="1em" height="1em" viewBox="0 0 36 36"><path fill="currentColor" d="M32 5H4a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2M6.8 15.81v-2.64l10 4.59v2.08l-10 4.59v-2.65l6.51-3Zm16.6 9.59H17V23h6.4ZM4 9.2V7h28v2.2Z" class="clr-i-solid clr-i-solid-path-1"/><path fill="none" d="M0 0h36v36H0z"/></svg>
                        Commandes
                    </span>
                    <span class="text-sm -rotate-90" id="arrow1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="transform transition-transform duration-300 font-bold" width="1.5em" height="1.5em" viewBox="0 0 20 20"><path fill="currentColor" d="M13.418 7.859a.695.695 0 0 1 .978 0a.68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969a.695.695 0 0 1 .978 0L10 11z"/></svg>
                    </span>
                </div>
            </div>
            <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold hidden" id="submenu1">
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('social')">
                    Social
                </h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('personal')">
                    Personal
                </h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('friends')">
                    Friends
                </h1>
            </div>

            {# Second Submenu #}
            <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-400 text-white" onclick="dropdown('submenu2', 'arrow2')">
                <div class="flex justify-between w-full items-center">
                    <span class="text-[15px] ml-4 text-gray-200 font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline mb-1" width="1em" height="1em" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-width="4"><path stroke-linejoin="round" d="M42 43V6a2 2 0 0 0-2-2h-7a2 2 0 0 0-2 2v18"/><path d="M24 22c-9.941 0-18 8.059-18 18v4h36v-4c0-9.941-8.059-18-18-18Z"/><path stroke-linecap="round" d="M8 31V8m8 16V14"/><path stroke-linecap="round" stroke-linejoin="round" d="M31 14h11"/><path d="M17 42v-3c0-9.389 3.134-17 7-17s7 7.611 7 17v3"/><path stroke-linecap="round" stroke-linejoin="round" d="M4 44h40"/><path d="M7 35s10.35-1 17-1s17 1 17 1"/></g></svg>
                        Colonie
                    </span>
                    <span class="text-sm -rotate-90" id="arrow2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="transform transition-transform duration-300 font-bold" width="1.5em" height="1.5em" viewBox="0 0 20 20"><path fill="currentColor" d="M13.418 7.859a.695.695 0 0 1 .978 0a.68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969a.695.695 0 0 1 .978 0L10 11z"/></svg>
                    </span>
                </div>
            </div>
            <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold hidden" id="submenu2">
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('general')">
                    Général
                </h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('account')">
                    Compte
                </h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('security')">
                    Sécurité
                </h1>
            </div>

            {# Third Submenu #}
            <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-gray-400 text-white" onclick="dropdown('submenu3', 'arrow3')">
                <div class="flex justify-between w-full items-center">
                    <span class="text-[15px] ml-4 text-gray-200 font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline mb-1" width="1em" height="1em" viewBox="0 0 48 48"><g fill="none" stroke="currentColor" stroke-width="4"><path stroke-linejoin="round" d="M42 43V6a2 2 0 0 0-2-2h-7a2 2 0 0 0-2 2v18"/><path d="M24 22c-9.941 0-18 8.059-18 18v4h36v-4c0-9.941-8.059-18-18-18Z"/><path stroke-linecap="round" d="M8 31V8m8 16V14"/><path stroke-linecap="round" stroke-linejoin="round" d="M31 14h11"/><path d="M17 42v-3c0-9.389 3.134-17 7-17s7 7.611 7 17v3"/><path stroke-linecap="round" stroke-linejoin="round" d="M4 44h40"/><path d="M7 35s10.35-1 17-1s17 1 17 1"/></g></svg>
                        Métiers
                    </span>
                    <span class="text-sm -rotate-90" id="arrow3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="transform transition-transform duration-300 font-bold" width="1.5em" height="1.5em" viewBox="0 0 20 20"><path fill="currentColor" d="M13.418 7.859a.695.695 0 0 1 .978 0a.68.68 0 0 1 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83a.68.68 0 0 1 0-.969a.695.695 0 0 1 .978 0L10 11z"/></svg>
                    </span>
                </div>
            </div>
            <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold hidden" id="submenu3">
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('general')">
                    Général
                </h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('account')">
                    Compte
                </h1>
                <h1 class="cursor-pointer p-2 hover:bg-gray-400 rounded-md mt-1" onclick="showContent('security')">
                    Sécurité
                </h1>
            </div>
        </div>

        <!-- Button to toggle sidebar -->
        <button class="fixed top-[20rem] sidebar-button left-0 p-2 bg-gray-700 text-white rounded-r-full transform lg:translate-x-[280px] transition-transform duration-300 ease-in-out lg:hidden" onclick="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M4 11v2h12l-5.5 5.5l1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5L16 11z"/>
            </svg>
        </button>

        <!-- Main content -->
        <div class="flex-1 lg:ml-[280px] transition-all duration-300 ease-in-out p-4" id="main-content">
            <div id="content-default" class="content">
                <h2 class="text-2xl text-white font-bold mb-4">Bienvenue sur le Wiki Quantum PVP</h2>
                <p class="text-white">Veuillez sélectionner une catégorie dans la barre latérale pour commencer.</p>
            </div>
            <div id="content-social" class="content hidden">
                <h2 class="text-2xl font-bold mb-4">Social</h2>
                <p>Contenu pour la section Social...</p>
            </div>
            <div id="content-personal" class="content hidden">
                <h2 class="text-2xl font-bold mb-4">Personal</h2>
                <p>Contenu pour la section Personal...</p>
            </div>
            <div id="content-friends" class="content hidden">
                <h2 class="text-2xl font-bold mb-4">Friends</h2>
                <p>Contenu pour la section Friends...</p>
            </div>
            <div id="content-general" class="content hidden">
                <h2 class="text-2xl font-bold mb-4">Général</h2>
                <p>Contenu pour la section Général...</p>
            </div>
            <div id="content-account" class="content hidden">
                <h2 class="text-2xl font-bold mb-4">Compte</h2>
                <p>Contenu pour la section Compte...</p>
            </div>
            <div id="content-security" class="content hidden">
                <h2 class="text-2xl font-bold mb-4">Sécurité</h2>
                <p>Contenu pour la section Sécurité...</p>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/wiki.js') }}"></script>
{% endblock %}
